h1{
    text-align: center;
}

#countLabel{
    display:block;
    text-align: center;
    font-size: 5em;
    font-family: Arial, Helvetica, sans-serif;
}
#btnContainer{
    text-align: center;
}
.buttons{
    padding: 10px 20px;
    font-size: 1.5em;
    color: white;
    background-color: rgb(41, 41, 138);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.25s;
}
.buttons:hover{
    background-color: rgba(120, 16, 218, 0.692);
}