#myH1{
    text-align: center;
    font-size: 5em;
}

.buttonContainer{
    text-align: center;
}

.buttons{
    background-color: green;
    color: white;
    padding : 5px;
    transition: background-color 0.25s ease color white 0.25s;
}

.buttons:hover{
    background-color: black;
    color: blueviolet;
}